@import "tailwindcss";
@import "./assets/fonts/Manrope/css/index.css";

@theme {
  --font-Manrope: Manrope;

  --color-lines: #1d1d1d;
  --color-secodaryBg: #080808;

  --radius-custom: 10px;

  --spacing-50: 50px;
  --spacing-cust49per: 49%;
}

@layer base {
  * {
    @apply font-Manrope m-0 box-border border-none p-0 font-normal transition-all outline-none;
  }

  body {
    @apply h-full w-full border-none bg-black text-white outline-none;
  }

  #root {
    @apply overflow-hidden;
  }
}

@layer components {
  .rounded-card {
    @apply rounded-custom border-lines border-2 border-solid bg-black p-6;
  }
}
